@import "../../tokens/color.css";
@import "../../tokens/radius.css";
@import "../../tokens/measures.css";
@import "../../tokens/elevation.css";
@import "../../tokens/spacing.css";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Mulish:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap");

.interactive_layer {
  display: inline-flex;
  padding: var(--carpenter-layout-ext-measures--4px-025);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--carpenter-layout-ext-measures--0px-0);
  width: fit-content;
  &.stretched {
    width: 100%;
    max-width: var(--carpenter-layout-ext-measures--800px-50);
  }

  &:focus-visible {
    outline: none;
    border-radius: var(--carpenter-layout-ext-measures--4px-025);
    border: 1px solid var(--carpenter-color-core-primary);
  }
}

.main_container {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: var(--carpenter-layout-ext-measures--40px-25);
  min-width: var(--carpenter-layout-ext-measures--64px-4);
  max-width: var(--carpenter-layout-ext-measures--800px-50);
  padding: var(--carpenter-layout-ext-measures--0px-0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--carpenter-layout-ext-measures--0px-0);
  border: none;

  // State Layer
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--carpenter-layout-ext-measures--4px-025);
    pointer-events: none; // Para que no afecte la interacción con el botón
    opacity: 0; // Puedes ajustar la opacidad según tus necesidades
    //transition: opacity 100ms cubic-bezier(0.61, 1, 0.88, 1), opacity 100ms cubic-bezier(0.61, 1, 0.88, 1);
  }
}
.state_layer {
  display: flex;
  width: 100%;
  min-width: var(--carpenter-layout-ext-measures--80px-5);
  max-width: var(--carpenter-layout-ext-measures--208px-13);
  flex-direction: row;
  align-items: center;
  gap: var(--carpenter-layout-ext-measures--0px-0);
  //align-self: stretch;
  justify-content: center;

  gap: var(--carpenter-layout-ext-measures--8px-05);
}
.text_container {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-family: "Assistant", "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.021px;
}

.filled_bad {
  color: var(--carpenter-color-core-on0bad);
  fill: var(--carpenter-color-core-on0bad);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-bad);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0bad8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0bad12);
    box-shadow: none;
  }
}
.filled_good {
  fill: var(--carpenter-color-core-on0good);
  color: var(--carpenter-color-core-on0good);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-good);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0good8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0good12);
    box-shadow: none;
  }
}
.filled_beware {
  fill: var(--carpenter-color-core-on0beware);
  color: var(--carpenter-color-core-on0beware);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-beware);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0beware8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0beware12);
    box-shadow: none;
  }
}
.filled_beware_minor {
  fill: var(--carpenter-color-core-on0beware0minor);
  color: var(--carpenter-color-core-on0beware0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-beware0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0beware0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0beware0minor12);
    box-shadow: none;
  }
}
.filled_good_minor {
  fill: var(--carpenter-color-core-on0good0minor);
  color: var(--carpenter-color-core-on0good0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-good0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0good0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0good0minor12);
    box-shadow: none;
  }
}
.filled_bad_minor {
  fill: var(--carpenter-color-core-on0bad0minor);
  color: var(--carpenter-color-core-on0bad0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-bad0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0bad0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0bad0minor12);
    box-shadow: none;
  }
}

.filled_primary {
  fill: var(--carpenter-color-core-on0primary);
  color: var(--carpenter-color-core-on0primary);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-primary);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0primary8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0primary12);
    box-shadow: none;
  }
}

.filled_secondary {
  fill: var(--carpenter-color-core-on0secondary);
  color: var(--carpenter-color-core-on0secondary);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-secondary);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0secondary8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0secondary12);
    box-shadow: none;
  }
}
.filled_accent {
  fill: var(--carpenter-color-core-on0accent);
  color: var(--carpenter-color-core-on0accent);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-accent);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-opacity-light-on-accent-opacity-8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-opacity-light-on-accent-opacity-12);
    box-shadow: none;
  }
}
.filled_primary_minor {
  fill: var(--carpenter-color-core-on0primary0minor);
  color: var(--carpenter-color-core-on0primary0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-primary0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0primary0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0primary0minor12);
    box-shadow: none;
  }
}
.filled_secondary_minor {
  fill: var(--carpenter-color-core-on0secondary0minor);
  color: var(--carpenter-color-core-on0secondary0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-secondary0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0secondary0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0secondary0minor12);
    box-shadow: none;
  }
}
.filled_accent_minor {
  fill: var(--carpenter-color-core-on0accent0minor);
  color: var(--carpenter-color-core-on0accent0minor);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  background: var(--carpenter-color-core-accent0minor);
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0accent0minor8);
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }

  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0accent0minor12);
    box-shadow: none;
  }
}

.outline_primary {
  fill: var(--carpenter-color-core-primary);
  color: var(--carpenter-color-core-primary);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  outline: 1px solid var(--carpenter-color-core-primary);
  background: var(--carpenter-color-core-surface);
  &:not([disabled]):hover {
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-primary8);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-primary12);
  }
}
.outline_secondary {
  fill: var(--carpenter-color-core-secondary);
  color: var(--carpenter-color-core-secondary);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  outline: 1px solid var(--carpenter-color-core-secondary);
  background: var(--carpenter-color-core-surface);
  &:not([disabled]):hover {
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-secondary8);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-secondary12);
  }
}
.outline_accent {
  fill: var(--carpenter-color-core-accent);
  color: var(--carpenter-color-core-accent);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  outline: 1px solid var(--carpenter-color-core-accent);
  background: var(--carpenter-color-core-surface);
  &:not([disabled]):hover {
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-accent8);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-accent12);
  }
}
.outline_default {
  fill: var(--carpenter-color-core-on0surface);
  color: var(--carpenter-color-core-on0surface);
  border-radius: var(--carpenter-layout-ext-measures--4px-025);
  outline: 1px solid var(--carpenter-color-core-outline);
  background: var(--carpenter-color-core-surface);
  &:not([disabled]):hover {
    box-shadow: var(--global-carpenter-elevation-light-level-1);
  }
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0surface8);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    background: var(--carpenter-color-opacity-on0surface12);
  }
}

.text_primary {
  fill: var(--carpenter-color-core-primary);
  color: var(--carpenter-color-core-primary);
  background: none;
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    border-bottom: 2px solid var(--carpenter-color-core-primary);
    border-radius: var(--carpenter-layout-ext-measures--0px-0);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    border-bottom: none;
  }
}
.text_secondary {
  fill: var(--carpenter-color-core-secondary);
  color: var(--carpenter-color-core-secondary);
  background: none;
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    border-radius: var(--carpenter-layout-ext-measures--0px-0);
    border-bottom: 2px solid var(--carpenter-color-core-secondary);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    border-bottom: none;
  }
}
.text_accent {
  fill: var(--carpenter-color-core-accent);
  color: var(--carpenter-color-core-accent);
  background: none;
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    border-radius: var(--carpenter-layout-ext-measures--0px-0);
    border-bottom: 2px solid var(--carpenter-color-core-accent);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    border-bottom: none;
  }
}
.text_default {
  fill: var(--carpenter-color-core-on0surface);
  color: var(--carpenter-color-core-on0surface);
  background: none;
  &:not([disabled]):hover::before {
    opacity: 1; // Cuando haces hover muestra el pseudo-elemento
    border-radius: var(--carpenter-layout-ext-measures--0px-0);
    border-bottom: 2px solid var(--carpenter-color-core-on0surface);
  }
  &:not([disabled]):active::before {
    opacity: 1; // Cuando haces click y mantenes muestra el pseudo-elemento
    border-bottom: none;
  }
}

.filled {
  padding: var(--carpenter-layout-ext-measures--0px-0) var(--carpenter-layout-core-spacing--16px-10);
  &:disabled {
    fill: var(--carpenter-color-opacity-on0surface38);
    cursor: default;
    color: var(--carpenter-color-opacity-on0surface38);
    border-radius: var(--carpenter-layout-ext-measures--4px-025);
    background: var(--carpenter-color-core-surface);
    &::before {
      opacity: 1; // Cuando esta deshabilitado muestra el pseudo-elemento
      border-radius: var(--carpenter-layout-ext-measures--4px-025);
      background: var(--carpenter-color-opacity-on0surface16);
    }
  }
}

.outline {
  padding: var(--carpenter-layout-ext-measures--0px-0) var(--carpenter-layout-core-spacing--16px-10);
  &:disabled {
    fill: var(--carpenter-color-opacity-on0surface38);
    color: var(--carpenter-color-opacity-on0surface38);
    cursor: default;
    outline: 1px solid var(--carpenter-color-core-outline);
    background: var(--carpenter-color-core-surface);
    &::before {
      opacity: 1; // Cuando esta deshabilitado muestra el pseudo-elemento
      border-radius: var(--carpenter-layout-ext-measures--4px-025);
      background: var(--carpenter-color-opacity-on0surface16);
    }
  }
}

.text {
  &:disabled {
    cursor: default;
    color: var(--carpenter-color-opacity-on0surface38);
  }
}
