:root {
  --carpenter-color-core-baseplate: #fefbff;
  --carpenter-color-core-on0baseplate: #1b1b1f;
  --carpenter-color-core-primary: #4659a9;
  --carpenter-color-core-on0primary: #ffffff;
  --carpenter-color-core-primary0minor: #dde1ff;
  --carpenter-color-core-on0primary0minor: #001355;
  --carpenter-color-core-secondary: #006398;
  --carpenter-color-core-on0secondary: #ffffff;
  --carpenter-color-core-secondary0minor: #cde5ff;
  --carpenter-color-core-on0secondary0minor: #001d32;
  --carpenter-color-core-accent: #875200;
  --carpenter-color-core-on0accent: #ffffff;
  --carpenter-color-core-accent0minor: #ffddba;
  --carpenter-color-core-on0accent0minor: #2b1700;
  --carpenter-color-core-bad: #ba1a1a;
  --carpenter-color-core-on0bad: #ffffff;
  --carpenter-color-core-bad0minor: #ffdad5;
  --carpenter-color-core-on0bad0minor: #410002;
  --carpenter-color-core-good: #446900;
  --carpenter-color-core-on0good: #ffffff;
  --carpenter-color-core-good0minor: #c3f180;
  --carpenter-color-core-on0good0minor: #111f00;
  --carpenter-color-core-surface: #fefbff;
  --carpenter-color-core-on0surface: #1b1b1f;
  --carpenter-color-core-absent: #5d5e67;
  --carpenter-color-core-on0absent: #ffffff;
  --carpenter-color-core-absent0minor: #e2e1ec;
  --carpenter-color-core-on0absent0minor: #1a1b23;
  --carpenter-color-core-on0beware: #ffffff;
  --carpenter-color-core-beware0minor: #f8e37e;
  --carpenter-color-core-on0beware0minor: #211b00;
  --carpenter-color-core-beware: #6d5e00;
  --carpenter-color-core-surface0minor: #e2e1ec;
  --carpenter-color-core-on0surface0minor: #45464f;
  --carpenter-color-core-inverse0surface: #303033;
  --carpenter-color-core-on0inverse0surface: #f3f0f4;
  --carpenter-color-core-inverse0primary: #b8c4ff;
  --carpenter-color-core-outline: #90909a;
  --carpenter-color-core-outline0variant: #c8c6c9;
  --carpenter-color-core-scrim: #000000;
  --carpenter-color-core-superfacetint: #4659a9;
  --carpenter-color-core-scrim60: #1b1b1e99;
  --carpenter-color-core-surface1: #4659a90d;
  --carpenter-color-core-surface2: #4659a914;
  --carpenter-color-core-surface3: #4659a91c;
  --carpenter-color-core-surface4: #4659a91f;
  --carpenter-color-core-surface5: #4659a924;
  --carpenter-color-ext-neutral0variant0: #000000;
  --carpenter-color-ext-neutral20: #303033;
  --carpenter-color-ext-neutral30: #47464a;
  --carpenter-color-ext-neutral0variant40: #5d5e67;
  --carpenter-color-ext-neutral0variant50: #767680;
  --carpenter-color-ext-neutral0variant60: #8f909a;
  --carpenter-color-ext-neutral0variant100: #ffffff;
  --carpenter-color-ext-primary0: #000000;
  --carpenter-color-ext-primary10: #001354;
  --carpenter-color-ext-primary20: #112878;
  --carpenter-color-ext-primary30: #2c408f;
  --carpenter-color-ext-primary40: #4659a9;
  --carpenter-color-ext-primary50: #5f72c4;
  --carpenter-color-ext-primary60: #798ce0;
  --carpenter-color-ext-primary70: #94a6fc;
  --carpenter-color-ext-primary80: #b8c4ff;
  --carpenter-color-ext-primary90: #dde1ff;
  --carpenter-color-ext-primary95: #efefff;
  --carpenter-color-ext-primary99: #fefbff;
  --carpenter-color-ext-primary100: #ffffff;
  --carpenter-color-ext-secondary0: #000000;
  --carpenter-color-ext-secondary10: #001d32;
  --carpenter-color-ext-secondary20: #003352;
  --carpenter-color-ext-secondary30: #004b74;
  --carpenter-color-ext-secondary40: #016398;
  --carpenter-color-ext-secondary50: #317cb3;
  --carpenter-color-ext-secondary60: #5096ce;
  --carpenter-color-ext-secondary70: #6db1eb;
  --carpenter-color-ext-secondary80: #94ccff;
  --carpenter-color-ext-secondary90: #cde5ff;
  --carpenter-color-ext-secondary95: #e7f2ff;
  --carpenter-color-ext-secondary99: #fcfcff;
  --carpenter-color-ext-secondary100: #ffffff;
  --carpenter-color-ext-accent0: #000000;
  --carpenter-color-ext-accent10: #2b1700;
  --carpenter-color-ext-accent20: #482900;
  --carpenter-color-ext-accent30: #673d00;
  --carpenter-color-ext-accent40: #875200;
  --carpenter-color-ext-accent50: #a56a1d;
  --carpenter-color-ext-accent60: #c28335;
  --carpenter-color-ext-accent70: #e19d4d;
  --carpenter-color-ext-accent80: #ffb866;
  --carpenter-color-ext-accent90: #ffddba;
  --carpenter-color-ext-accent95: #ffeedf;
  --carpenter-color-ext-accent99: #fffbff;
  --carpenter-color-ext-accent100: #ffffff;
  --carpenter-color-ext-bad0: #000000;
  --carpenter-color-ext-bad10: #410002;
  --carpenter-color-ext-bad20: #690004;
  --carpenter-color-ext-bad30: #930009;
  --carpenter-color-ext-bad40: #ba1a1a;
  --carpenter-color-ext-bad50: #de372f;
  --carpenter-color-ext-bad60: #ff5449;
  --carpenter-color-ext-bad70: #ff897d;
  --carpenter-color-ext-bad80: #ffb4ab;
  --carpenter-color-ext-bad90: #ffdad5;
  --carpenter-color-ext-bad95: #ffedea;
  --carpenter-color-ext-bad99: #fffbff;
  --carpenter-color-ext-bad100: #ffffff;
  --carpenter-color-ext-good0: #000000;
  --carpenter-color-ext-good10: #111f00;
  --carpenter-color-ext-good20: #213600;
  --carpenter-color-ext-good30: #324f00;
  --carpenter-color-ext-good40: #446900;
  --carpenter-color-ext-good50: #5b821e;
  --carpenter-color-ext-good60: #749d37;
  --carpenter-color-ext-good70: #8eb84f;
  --carpenter-color-ext-good80: #a8d567;
  --carpenter-color-ext-good90: #c3f180;
  --carpenter-color-ext-good95: #d4ff94;
  --carpenter-color-ext-good99: #f9ffe7;
  --carpenter-color-ext-good100: #ffffff;
  --carpenter-color-ext-beware0: #000000;
  --carpenter-color-ext-beware10: #211b00;
  --carpenter-color-ext-beware20: #393000;
  --carpenter-color-ext-beware30: #524600;
  --carpenter-color-ext-beware40: #6d5e00;
  --carpenter-color-ext-beware50: #87771e;
  --carpenter-color-ext-beware60: #a29136;
  --carpenter-color-ext-beware70: #beab4e;
  --carpenter-color-ext-beware80: #dbc766;
  --carpenter-color-ext-beware90: #f8e37e;
  --carpenter-color-ext-beware95: #fff1b8;
  --carpenter-color-ext-beware99: #fffbff;
  --carpenter-color-ext-beware100: #ffffff;
  --carpenter-color-ext-absent0: #000000;
  --carpenter-color-ext-absent10: #1a1b23;
  --carpenter-color-ext-neutral0: #000000;
  --carpenter-color-ext-neutral10: #1b1b1e;
  --carpenter-color-ext-neutral40: #5f5e61;
  --carpenter-color-ext-neutral50: #77767a;
  --carpenter-color-ext-neutral60: #919094;
  --carpenter-color-ext-neutral70: #acaaae;
  --carpenter-color-ext-neutral80: #c8c6c9;
  --carpenter-color-ext-neutral90: #e4e1e5;
  --carpenter-color-ext-neutral95: #f3f0f4;
  --carpenter-color-ext-neutral99: #fefbff;
  --carpenter-color-ext-neutral100: #ffffff;
  --carpenter-color-ext-neutral0variant10: #1a1b23;
  --carpenter-color-ext-neutral0variant20: #2f3038;
  --carpenter-color-ext-neutral0variant30: #45464f;
  --carpenter-color-ext-neutral0variant70: #aaaab4;
  --carpenter-color-ext-neutral0variant80: #c6c6d0;
  --carpenter-color-ext-neutral0variant90: #e2e1ec;
  --carpenter-color-ext-neutral0variant95: #f0f0fb;
  --carpenter-color-ext-neutral0variant99: #fefbff;
  --carpenter-color-opacity-on0primary8: #ffffff14;
  --carpenter-color-opacity-on0primary12: #ffffff1f;
  --carpenter-color-opacity-on0primary16: #ffffff29;
  --carpenter-color-opacity-on0primary72: #d9d9d9b8;
  --carpenter-color-opacity-on0primary0minor8: #00135514;
  --carpenter-color-opacity-on0primary0minor12: #0013551f;
  --carpenter-color-opacity-on0primary0minor16: #00135529;
  --carpenter-color-opacity-on0primary0minor72: #001355b8;
  --carpenter-color-opacity-on0secondary8: #ffffff14;
  --carpenter-color-opacity-on0secondary12: #ffffff1f;
  --carpenter-color-opacity-on0secondary16: #ffffff29;
  --carpenter-color-opacity-on0secondary56: #ffffff8f;
  --carpenter-color-opacity-on0secondary0minor8: #001d3214;
  --carpenter-color-opacity-on0secondary0minor12: #001d321f;
  --carpenter-color-opacity-on0secondary0minor16: #001d3229;
  --carpenter-color-opacity-on0secondary0minor56: #001d328f;
  --carpenter-color-opacity-on0accent8: #ffffff14;
  --carpenter-color-opacity-on0accent12: #ffffff1f;
  --carpenter-color-opacity-on0accent16: #ffffff29;
  --carpenter-color-opacity-on0accent56: #ffffff8f;
  --carpenter-color-opacity-on0accent0minor8: #2b170014;
  --carpenter-color-opacity-on0accent0minor12: #2b17001f;
  --carpenter-color-opacity-on0accent0minor16: #2b170029;
  --carpenter-color-opacity-on0accent0minor56: #d9d9d98f;
  --carpenter-color-opacity-on0bad8: #ffffff14;
  --carpenter-color-opacity-on0bad12: #ffffff1f;
  --carpenter-color-opacity-on0bad16: #ffffff29;
  --carpenter-color-opacity-on0bad56: #ffffff8f;
  --carpenter-color-opacity-on0bad0minor8: #41000214;
  --carpenter-color-opacity-on0bad0minor12: #4100021f;
  --carpenter-color-opacity-on0bad0minor16: #41000229;
  --carpenter-color-opacity-on0bad0minor56: #4100028f;
  --carpenter-color-opacity-on0good8: #ffffff14;
  --carpenter-color-opacity-on0good12: #ffffff1f;
  --carpenter-color-opacity-on0good16: #ffffff29;
  --carpenter-color-opacity-on0good56: #ffffff8f;
  --carpenter-color-opacity-on0good0minor8: #00210714;
  --carpenter-color-opacity-on0good0minor12: #0021071f;
  --carpenter-color-opacity-on0good0minor16: #00210729;
  --carpenter-color-opacity-on0good0minor56: #0021078f;
  --carpenter-color-opacity-on0surface8: #1b1b1f14;
  --carpenter-color-opacity-on0surface12: #1b1b1f1f;
  --carpenter-color-opacity-on0surface16: #1b1b1f29;
  --carpenter-color-opacity-on0surface38: #1b1b1f61;
  --carpenter-color-opacity-on0surface56: #1b1b1f8f;
  --carpenter-color-opacity-on0surface0minor8: #45464f14;
  --carpenter-color-opacity-on0surface0minor12: #45464f1f;
  --carpenter-color-opacity-on0surface0minor16: #45464f29;
  --carpenter-color-opacity-on0surface0minor56: #45464f8f;
  --carpenter-color-opacity-on0absent8: #ffffff;
  --carpenter-color-opacity-on0absent12: #ffffff1f;
  --carpenter-color-opacity-on0absent16: #ffffff29;
  --carpenter-color-opacity-on0absent56: #ffffff8f;
  --carpenter-color-opacity-on0absent0minor8: #1a1b2314;
  --carpenter-color-opacity-on0absent0minor12: #1a1b231f;
  --carpenter-color-opacity-on0absent0minor16: #1a1b2329;
  --carpenter-color-opacity-on0absent0minor56: #1a1b238f;
  --carpenter-color-opacity-on0beware8: #ffffff14;
  --carpenter-color-opacity-on0beware12: #ffffff1f;
  --carpenter-color-opacity-on0beware16: #ffffff29;
  --carpenter-color-opacity-on0beware56: #ffffff8f;
  --carpenter-color-opacity-on0beware0minor8: #1c1d0014;
  --carpenter-color-opacity-on0beware0minor12: #1c1d001f;
  --carpenter-color-opacity-on0beware0minor16: #1c1d0029;
  --carpenter-color-opacity-on0beware0minor56: #1c1d008f;
  --carpenter-color-opacity-primary8: #4659a914;
  --carpenter-color-opacity-primary12: #4659a91f;
  --carpenter-color-opacity-primary16: #4659a929;
  --carpenter-color-opacity-primary56: #4659a98f;
  --carpenter-color-opacity-secondary8: #01639814;
  --carpenter-color-opacity-secondary12: #0163981f;
  --carpenter-color-opacity-secondary16: #01639829;
  --carpenter-color-opacity-accent8: #87520014;
  --carpenter-color-opacity-accent12: #8752001f;
  --carpenter-color-opacity-accent16: #87520029;
}
